<div id="planner-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Profile Icon" matTooltip='Add collaborator'>
        <mat-icon>person_add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Profile Icon" matTooltip='Remove Collaborator'>
        <mat-icon>person_remove</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Profile Icon" matTooltip='Schedule settings'>
        <mat-icon>settings</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <button mat-raised-button color="primary">Run Challenge</button>
</div>

<div id="planner-container">
    <table>
        <tr>
            <th ></th>
            <th *ngFor="let collaborator of collaborators" class="th-for-collabs">{{collaborator.name}}</th>
        </tr>
        <tr *ngFor="let timeLabel of officeHours" >
            <td class="thin-cell-width">{{timeLabel}}</td>
            <td class="planner-cells" *ngFor="let collaborator of collaborators" 
                [style.background]="colorTimeCell(collaborator, timeLabel)"
                (click)="addBusyTime(collaborator, timeLabel)">    
            </td>
        </tr>
    </table>
</div>