.title {
    margin: 0px auto;
    width: 80%;
    text-align: center;
    margin-top: 2%;
    color: #C2185B;
}

.title h1 {
    font-size: 36px;
    font-family: 'Krub', "Helvetica Neue", sans-serif;
}

/*
 ************************************PLANNER TOOLBAR STYLES************************************************
 */

#planner-toolbar {
    margin: 0px auto;
    width: 80%;
    margin-top: 2%;
    background-color: #18c27f;
    border: 2px solid #18c27f;
    border-radius: 5px 5px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    box-shadow: 5px 5px 5px #ccc;
    align-items: center;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.slider {
    color: white;
    margin-right: 15px;
}

#planner-container {
    display: block;
    margin: 0px auto;
    width: 80%;
    border: 2px solid #18c27f;
    height: 70%;
    overflow-y: scroll;
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    box-shadow: 5px 5px 5px #ccc;
}

/*
 ************************************PLANNER STYLES************************************************
 */

.information {
    display: flex;
    height: 110px;
    justify-content: space-between;
}

.info-element {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Krub', "Helvetica Neue", sans-serif;
}

.info-element label {
    text-shadow: 2px 2px 4px #ccc;
}

.color-block {
    height: 55px;
    width: 40%;
    box-shadow: 5px 5px 5px #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px #ccc;
    margin-top: 0px;
}

.th-for-collabs {
    font-family: 'Krub', "Helvetica Neue", sans-serif;
    background-color: #C2185B;
    color: white;
    height: 50px;
    border-right: 1px solid #ee6ea1;
    border-bottom: 1px solid #ee6ea1;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.thin-cell-width {
    width: 80px;
    text-align: right;
    padding-right: 5px;
    color: rgb(170, 170, 170);
    text-shadow: 1px 1px 1px #ccc;
    left: 0;
    position: sticky;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
    background-color: #EEE4E4;
    box-shadow: 3px 0px 0px -1px rgba(0, 0, 0, 0.4);
}

.planner-cells {
    border: 1px solid #c5638a;
    transition: all 300ms;
    height: 50px;
}

.planner-cells:hover {
    cursor: pointer;
    background: #ee6ea1 !important;
}

.planner-cells:active {
    cursor: pointer;
    background: #C2185B !important;
}

/*
 *******************************SOME RESPONSIVE STYLES************************************
 */

/* On screens that are 900px or less*/

@media screen and (max-width: 700px) {
    table {
        width: 170%;
        border-collapse: collapse;
    }
}

/* On screens that are 500px or less*/

@media screen and (max-width: 700px) {
    table {
        width: 270%;
        border-collapse: collapse;
    }
    .information {
        flex-wrap: wrap;
        justify-content: center;
        height: 250px;
        margin-bottom: 10px;
    }
    .info-element {
        flex-basis: 80%;
    }

}