<div id="planner-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Add Collab" matTooltip='Add collaborator' 
        color="primary" (click)="addCollaborator()">
        <mat-icon>person_add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Add Collab" matTooltip='Remove Collaborator' 
        color="primary" (click)="removeCollaborator()">
        <mat-icon>person_remove</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Add Collab" matTooltip='Schedule settings' color="primary">
        <mat-icon>settings</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <button mat-raised-button color="primary" (click)="runChallenge()">Run Challenge</button>
</div>

<div id="planner-container">
    <div class="information">
        <div class="info-element" >
            <div class="color-block" style="background-color: #C2185B !important; border: 1px solid #ccc;"></div>
            <label>Meet Time</label>
        </div>

        <div class="info-element">
            <div class="color-block" style="background-color: white !important; border: 1px solid #ccc"></div>
            <label>Available Time</label>
        </div>

        <div class="info-element">
            <div class="color-block" style="background-color: #B0C218 !important; border: 1px solid #ccc;"></div>
            <label>Lunch Time</label>
        </div>
        
    </div>

    <table>
        <tr>
            <th ></th>
            <th *ngFor="let collaborator of collaborators" class="th-for-collabs">{{collaborator.name}}</th>
        </tr>
        <tr *ngFor="let timeLabel of officeHours" >
            <td class="thin-cell-width">{{timeLabel}}</td>
            <td class="planner-cells" *ngFor="let collaborator of collaborators" 
                [style.background]="colorTimeCell(collaborator, timeLabel)"
                (click)="addBusyTime(collaborator, timeLabel)">    
            </td>
        </tr>
    </table>
</div>