<div class="background">
    <div id="note">
        <div id="content-note">
            <h1>Welcome!</h1>
            <p>Hi, this is a simple web site to show my solution for taskeasy code challenge.</p>
            <p>
                The bellow "schedule planner" was designed by me using css, html and Angular. 
                The toolbar of this planner was implemented with Angular Material.  
            </p>
            <p>
                You can select the cells of the table and the filled cells represents the time when a collaborator has a meet,
                and with the table, the program will generate an array with the name of the collaborators and the times in that they have meets. 
            </p>
            <p>
                If you click in the Run button, it will show a dialog with the input that the schedule planner generated, 
                and also will show the output required by the challenge. 
            </p>
            <p>
                The initial state of the schedule is the input proposed for the challange, so if you accidentally change anything, you can reload the page to reset to its default state.
            </p>
            <p>
                You can also add new collaborators or remove them. Finally, you can choose if you want to 
                see the all day calendar, but CAUTION, the program won't consider the times outside office hours for the challenge.
            </p>

            <p>
                That's all, and thank you for give me the opportunity to show my skills. :)
            </p>
        </div>
    </div>
</div>