/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Krub', "Helvetica Neue", sans-serif;}


/*Customizing material styles*/
.mat-button-toggle-appearance-standard {
    color: #fff;
    background: transparent;
    height: 80%;
    background-color: #4fc898;
    font-family:  Roboto, "Helvetica Neue", sans-serif;;

}


.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: #169c66;
}